// sidebar
.sidebar {
  box-sizing: border-box;
  &__toggle-button {
    display: none;
  }
  .logo {
    margin-bottom: 35px;
    &__icon {
    font-size: 2rem;
    color: #51586a;
  }
  }
  &__collapse {
    margin-right: 40px;
    box-sizing: border-box;
  }
  .search {
    position: relative;
    margin-bottom: 2rem;
    &__input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      font-size: .9rem;
      line-height: 1.5;
      padding: 0.375rem 0.9rem;
      background-color: #434857;
      background-clip: padding-box;
      border: 1px solid #434857;
      border-radius: 0.25rem;
      transition: all .3s;
      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #71cced;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(25, 151, 198, 0.25);
      }
    }
    &__btn {
      position: absolute;
      background-color: transparent;
      border: 0;
      top: 25%;
      right: 3%;
      cursor: pointer;
      i {
        font-size: 85%;
        color: #9198aa;
      }
    }
  }
}
// navbar
.dashboards {
  $self : &;
  margin-bottom: 1.2rem;
  &__title {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #51586a;
    text-transform: uppercase;
  }
  &__item {
    #{$self}__link {
      display: block;
      padding: 0.5rem 1rem;
      border-radius: .25rem;
      color: $grey-text;
      transition: all .3s;
      &.active {
        color: #fff;
        background-color: #1997c6;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
.more-document {
  $self : &;
  padding-bottom: 1rem;
  border-bottom: 1px solid #51586a;
  &__title {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #51586a;
    text-transform: uppercase;
  }
  &__item {
    #{$self}__link {
      display: block;
      padding: 0.5rem 1rem;
      border-radius: .25rem;
      color: $grey-text;
      &.active {
        color: #fff;
        background-color: #1997c6;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}